<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>edit item</h2>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <form [formGroup]="form">
        <div *ngIf="this.recvData.category != 'note'">
          <div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="name" formControlName="itemName" type="text">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label *ngIf="this.recvData.category == 'account'">Money</mat-label>
              <mat-label *ngIf="this.recvData.category != 'account'">Cal</mat-label>
              <input matInput placeholder="money" formControlName="itemValue" type="number">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="this.recvData.category == 'note'">
          <div>
            <mat-form-field>
              <mat-label>Note</mat-label>
              <textarea matInput placeholder="note" formControlName="itemName"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!form.valid">
          <button id="requiredMsg" type="submit" class="btn btn-default submit" [disabled]="true">plz check the all
            required fileds</button>
        </div>
        <div *ngIf="form.valid">
          <button id="submit" type="submit" class="btn btn-default submit" [disabled]="!form.valid"
            (click)="saveToDB()">save</button>
        </div>
      </form>
    </div>
  </div>
</div>
