
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-6">
      <mat-card class="demo-inline-calendar-card" *ngIf="data.length">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <i>{{AddItemService.getCategory(data[0].category)}}</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let item of data">
                <div class="container">
                  <div class="row">
                    <div class="col-2"> {{AddItemService.getSubCategory(item.category ,item.subCategory + "")}}</div>
                    <div class="col-2"> {{item.itemName}}</div>
                    <div class="col-6"> ${{item.itemValue | number}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </mat-card>
    </div>
  </div>
</div>
