<div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12" *ngIf="this.UserInfoService.isLogin()">
            <app-add-item (newItemEvent)="refreshData($event)"></app-add-item>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-tab-group>
              <mat-tab label="日曆">
                <br>
                <app-home-calendar [itemLength]="itemLength" (refresh)="getRefresh()"></app-home-calendar>
              </mat-tab>
              <mat-tab label="圖表">
                <br>
                <div class="col-12">
                  <app-date-picker-range (newItemEvent)="getDataRange($event)"></app-date-picker-range>
                </div>
                <app-home-charts-echarts [xAxisData]="xAxisData" [accountData]="accountData" [eatData]="eatData" [fitData]="fitData"></app-home-charts-echarts>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
