<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (selectedChange)="changeSelect()"></mat-calendar>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="demo-inline-calendar-card">
        <p>{{selected | date}}</p>
        <hr>

        <div *ngIf="accounts.length">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <i>支出項目</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let item of accounts">
                <div class="container">
                  <div class="row">
                    <div class="col-2"> {{AddItemService.getSubCategory(item.category ,item.subCategory + "")}}</div>
                    <div class="col-2"> {{item.itemName}}</div>
                    <div class="col-6"> ${{item.itemValue | number}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div *ngIf="eats.length">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <i>飲食紀錄</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let item of eats">
                <div class="container">
                  <div class="row">
                    <div class="col-2"> {{AddItemService.getSubCategory(item.category ,item.subCategory + "")}}</div>
                    <div class="col-2"> {{item.itemName}}</div>
                    <div class="col-6"> ${{item.itemValue | number}}cal</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div *ngIf="fits.length">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <i>運動紀錄</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let item of fits">
                <div class="container">
                  <div class="row">
                    <div class="col-2"> {{AddItemService.getSubCategory(item.category ,item.subCategory + "")}}</div>
                    <div class="col-2"> {{item.itemName}}</div>
                    <div class="col-6"> {{item.itemValue | number}}cal</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div *ngIf="notes.length">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <i>筆記</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let item of notes">
                <div class="container">
                  <div class="row">
                    <div class="col-12"> {{item.itemName}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </mat-card>
    </div>
  </div>
</div>
